/* Style for the Pages */

*{
  font-family: 'Playfair Display', serif;
}
.con{
    width: 60%;
    margin-left: 20%;
}
.column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .interest h5{
    font-size: 35px;
  }
  .interest ul{
    font-size: 25px;
  }
  .polaroid img{
    width: 100vh;
    height: 30vh;

  }
  .mt-5{
    margin-top: 50px;
  }

/* About */
section.myself {
  background: #faebd72e;
  padding-top: 30px;
}
section.interest {
background: #faebd72e;
}
section.polaroid {
background: #faebd72e;
padding-top: 40px;
}


/* Skills */
  .skills .column img{
    width: 30vh;
    height: 30vh;
    margin-top: 20%;
    margin-left: 15%;
  }
  .skills .column p{
    text-align: center;
  }
  section.skills {
    background: #faebd72e;
}

/* Projects */
section.projects {
  background: #faebd72e;
  padding-top: 12px;
}


/* Contacts */
.container-icon {
  padding-left: 86px;
  padding-top: 25px;
}
.contacts a{
  font-size: 40px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-left: 20px
}
.contactss .row input{
  width: 50%;
  padding: 1%;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.267);
  margin-bottom: 2%;
}
.con2{
  width: 10%;
  margin-left: 40%;
}
.column2 {
  float: left;
  width: 50%;
}
.column2 a{
  font-size:large;
}
.discover a{
  text-decoration: none;
  color: #000;
}
section.contacts {
  background: #faebd72e;
  padding-top: 12px;
  padding-left: 215px;
}